/*  your css code here. If applicable */
.hero{
	width:100%;
	display:flex;
	justify-content:left;
	align-items:left
}
.hero img{
	width:300px;
	height:200px;
		object-fit:cover;
}
.explor{
	padding:10px;
	background-color:white;
	color:black;
	border-radius:10px;
		text-align:center;
}
button{
width:80px;
height:50px;
background-color:darkred;
color:white;
}